<a href="https://colab.research.google.com/github/dulrojas/machinelearning-az/blob/master/RetoEmpleados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Reto: Deserción de empleados**

1.    Importa las librerías requeridas.

In [21]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
from sklearn.decomposition import PCA

2. Lee el archivo CSV llamado empleadosRETO.csv y coloca los datos en un frame de Pandas llamado EmpleadosAttrition.

In [22]:
EmpleadosAttrition = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/RetoEmpleados/empleadosRETO.csv")
EmpleadosAttrition

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,...,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,1,997,4,Male,...,22,4,3,80,32,1,2,4,1,No
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,1,178,2,Male,...,20,4,4,80,7,0,3,2,0,No
2,21,Travel_Rarely,Sales,7 km,1,Marketing,1,1780,2,Male,...,13,3,2,80,1,3,3,0,1,Yes
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,1,1118,2,Male,...,19,3,4,80,18,4,3,6,4,No
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,1,582,2,Male,...,12,3,4,80,15,2,4,6,7,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,14 km,3,Medical,1,325,3,Male,...,13,3,3,80,8,2,1,4,0,Yes
396,31,Travel_Rarely,Sales,20 km,3,Life Sciences,1,175,2,Female,...,11,3,3,80,4,2,3,2,2,Yes
397,37,Travel_Frequently,Research & Development,11 km,3,Other,1,306,2,Male,...,14,3,3,80,10,1,3,8,0,No
398,38,Travel_Rarely,Research & Development,4 km,2,Medical,1,1687,4,Female,...,19,3,4,80,7,5,2,0,0,No
399,33,Travel_Rarely,Research & Development,14 km,3,Medical,1,252,4,Female,...,13,3,4,80,8,5,3,7,1,No

3. Elimina las columnas que, con alta probabilidad (estimada por ti), no tienen relación alguna con la salida. Hay algunas columnas que contienen información que no ayuda a definir el desgaste de un empleado, tal es caso de las siguientes:

  a.     EmployeeCount: número de empleados, todos tienen un 1

  b.     EmployeeNumber: ID del empleado, el cual es único para cada empleado

  c.     Over18: mayores de edad, todos dicen “Y”

  d.     StandardHours: horas de trabajo, todos tienen “80”

In [23]:
EmpleadosAttrition = EmpleadosAttrition.drop(['EmployeeCount','EmployeeNumber','Over18','StandardHours'],axis=1)
EmpleadosAttrition

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,4,Male,3,4,...,No,22,4,3,32,1,2,4,1,No
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,2,Male,3,2,...,No,20,4,4,7,0,3,2,0,No
2,21,Travel_Rarely,Sales,7 km,1,Marketing,2,Male,3,1,...,No,13,3,2,1,3,3,0,1,Yes
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,2,Male,3,3,...,No,19,3,4,18,4,3,6,4,No
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,2,Male,3,3,...,Yes,12,3,4,15,2,4,6,7,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,14 km,3,Medical,3,Male,3,1,...,Yes,13,3,3,8,2,1,4,0,Yes
396,31,Travel_Rarely,Sales,20 km,3,Life Sciences,2,Female,1,2,...,Yes,11,3,3,4,2,3,2,2,Yes
397,37,Travel_Frequently,Research & Development,11 km,3,Other,2,Male,3,3,...,Yes,14,3,3,10,1,3,8,0,No
398,38,Travel_Rarely,Research & Development,4 km,2,Medical,4,Female,3,1,...,No,19,3,4,7,5,2,0,0,No
399,33,Travel_Rarely,Research & Development,14 km,3,Medical,4,Female,3,1,...,No,13,3,4,8,5,3,7,1,No

4. Analizando la información proporcionada, detectaste que no se cuenta con los años que el empelado lleva en la compañía y parece ser un buen dato. Dicha cantidad se puede calcular con la fecha de contratación ‘HiringDate’:

  a.     Crea una columna llamada Year y obtén el año de contratación del empleado a partir de su fecha ‘HiringDate’. No se te olvide que debe ser un entero.

  b.     Crea una columna llamada YearsAtCompany que contenga los años que el empleado lleva en la compañía hasta el año 2018. Para su cálculo, usa la variable Year que acabas de crear.

In [24]:
# Identificar fechas inválidas
invalid_dates = EmpleadosAttrition['HiringDate'][~pd.to_datetime(EmpleadosAttrition['HiringDate'], errors='coerce').notnull()]
# Borrar registros con fechas inválidas
EmpleadosAttrition.drop(invalid_dates.index, inplace=True)
# Decisión tomada ya que solo existe un dato malo

In [25]:
# Convertir la columna 'fecha_nacimiento' a tipo datetime
EmpleadosAttrition['HiringDate'] = pd.to_datetime(EmpleadosAttrition['HiringDate'], format='%m/%d/%Y')
# a. Obtener el año de contratación y almacenarlo en una nueva columna 'year'
EmpleadosAttrition['Year'] = EmpleadosAttrition['HiringDate'].dt.year.astype(int)
# b. Obtener los años de la persona hasta fin de 2018 y almacenarlos en una nueva columna 'edad_hasta_2018'
EmpleadosAttrition['YearsAtCompany'] = 2018 - EmpleadosAttrition['HiringDate'].dt.year
EmpleadosAttrition

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,Year,YearsAtCompany
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,4,Male,3,4,...,4,3,32,1,2,4,1,No,2013,5
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,2,Male,3,2,...,4,4,7,0,3,2,0,No,2015,3
2,21,Travel_Rarely,Sales,7 km,1,Marketing,2,Male,3,1,...,3,2,1,3,3,0,1,Yes,2017,1
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,2,Male,3,3,...,3,4,18,4,3,6,4,No,2010,8
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,2,Male,3,3,...,3,4,15,2,4,6,7,Yes,2011,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,14 km,3,Medical,3,Male,3,1,...,3,3,8,2,1,4,0,Yes,2013,5
396,31,Travel_Rarely,Sales,20 km,3,Life Sciences,2,Female,1,2,...,3,3,4,2,3,2,2,Yes,2016,2
397,37,Travel_Frequently,Research & Development,11 km,3,Other,2,Male,3,3,...,3,3,10,1,3,8,0,No,2008,10
398,38,Travel_Rarely,Research & Development,4 km,2,Medical,4,Female,3,1,...,3,4,7,5,2,0,0,No,2018,0
399,33,Travel_Rarely,Research & Development,14 km,3,Medical,4,Female,3,1,...,3,4,8,5,3,7,1,No,2010,8

5.    La DistanceFromHome está dada en kilómetros, pero tiene las letras “km” al final y así no puede ser entera:

  a.     Renombra la variable DistanceFromHome a DistanceFromHome_km.
  
  b.     Crea una nueva variable DistanceFromHome que sea entera, es decir, solo con números.

In [26]:
# a. Renombrar la variable DistanceFromHome a DistanceFromHome_km
EmpleadosAttrition.rename(columns={'DistanceFromHome': 'DistanceFromHome_km'}, inplace=True)

# b. Crear una nueva variable DistanceFromHome que sea entera, es decir, solo con números
EmpleadosAttrition['DistanceFromHome'] = EmpleadosAttrition['DistanceFromHome_km'].str.replace('km', '').astype(int)
EmpleadosAttrition

,Age,BusinessTravel,Department,DistanceFromHome_km,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,Year,YearsAtCompany,DistanceFromHome
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,4,Male,3,4,...,3,32,1,2,4,1,No,2013,5,1
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,2,Male,3,2,...,4,7,0,3,2,0,No,2015,3,6
2,21,Travel_Rarely,Sales,7 km,1,Marketing,2,Male,3,1,...,2,1,3,3,0,1,Yes,2017,1,7
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,2,Male,3,3,...,4,18,4,3,6,4,No,2010,8,7
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,2,Male,3,3,...,4,15,2,4,6,7,Yes,2011,7,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,14 km,3,Medical,3,Male,3,1,...,3,8,2,1,4,0,Yes,2013,5,14
396,31,Travel_Rarely,Sales,20 km,3,Life Sciences,2,Female,1,2,...,3,4,2,3,2,2,Yes,2016,2,20
397,37,Travel_Frequently,Research & Development,11 km,3,Other,2,Male,3,3,...,3,10,1,3,8,0,No,2008,10,11
398,38,Travel_Rarely,Research & Development,4 km,2,Medical,4,Female,3,1,...,4,7,5,2,0,0,No,2018,0,4
399,33,Travel_Rarely,Research & Development,14 km,3,Medical,4,Female,3,1,...,4,8,5,3,7,1,No,2010,8,14

6.    Borra las columnas Year, HiringDate y DistanceFromHome_km debido a que ya no son útiles.

In [27]:
EmpleadosAttrition = EmpleadosAttrition.drop(['Year','HiringDate','DistanceFromHome_km'],axis=1)
EmpleadosAttrition

,Age,BusinessTravel,Department,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobRole,...,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,YearsAtCompany,DistanceFromHome
0,50,Travel_Rarely,Research & Development,2,Medical,4,Male,3,4,Research Director,...,4,3,32,1,2,4,1,No,5,1
1,36,Travel_Rarely,Research & Development,2,Medical,2,Male,3,2,Manufacturing Director,...,4,4,7,0,3,2,0,No,3,6
2,21,Travel_Rarely,Sales,1,Marketing,2,Male,3,1,Sales Representative,...,3,2,1,3,3,0,1,Yes,1,7
3,52,Travel_Rarely,Research & Development,4,Life Sciences,2,Male,3,3,Healthcare Representative,...,3,4,18,4,3,6,4,No,8,7
4,33,Travel_Rarely,Research & Development,1,Medical,2,Male,3,3,Manager,...,3,4,15,2,4,6,7,Yes,7,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,3,Medical,3,Male,3,1,Laboratory Technician,...,3,3,8,2,1,4,0,Yes,5,14
396,31,Travel_Rarely,Sales,3,Life Sciences,2,Female,1,2,Sales Executive,...,3,3,4,2,3,2,2,Yes,2,20
397,37,Travel_Frequently,Research & Development,3,Other,2,Male,3,3,Research Director,...,3,3,10,1,3,8,0,No,10,11
398,38,Travel_Rarely,Research & Development,2,Medical,4,Female,3,1,Laboratory Technician,...,3,4,7,5,2,0,0,No,0,4
399,33,Travel_Rarely,Research & Development,3,Medical,4,Female,3,1,Research Scientist,...,3,4,8,5,3,7,1,No,8,14

7.    Aprovechando los ajustes que se están haciendo, la empresa desea saber si todos los departamentos tienen un ingreso promedio similar. Genera una nuevo frame llamado SueldoPromedioDepto que contenga el MonthlyIncome promedio por departamento de los empleados y colócalo en una variable llamada SueldoPromedio. Esta tabla solo es informativa, no la vas a utilizar en el set de datos que estás construyendo.

In [28]:
#SueldoPromedioDepto que contenga el MonthlyIncome promedio por departamento de los empleados y colócalo en una variable llamada SueldoPromedio.
# Calcula el sueldo promedio por departamento
SueldoPromedioDepto = EmpleadosAttrition.groupby('Department')['MonthlyIncome'].mean().reset_index()
SueldoPromedioDepto.columns = ['Department', 'SueldoPromedio']

print(SueldoPromedioDepto)

               Department  SueldoPromedio
0         Human Resources     6239.888889
1  Research & Development     6804.149813
2                   Sales     7192.609756

8.    La variable MonthlyIncome tiene un valor numérico muy grande comparada con las otras variables. Escala dicha variable para que tenga un valor entre 0 y 1.

In [29]:
# Calcula el valor mínimo y máximo de MonthlyIncome
min_income = EmpleadosAttrition['MonthlyIncome'].min()
max_income = EmpleadosAttrition['MonthlyIncome'].max()

# Escala la variable MonthlyIncome entre 0 y 1
EmpleadosAttrition['MonthlyIncome'] = (EmpleadosAttrition['MonthlyIncome'] - min_income) / (max_income - min_income)

EmpleadosAttrition

,Age,BusinessTravel,Department,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobRole,...,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,YearsAtCompany,DistanceFromHome
0,50,Travel_Rarely,Research & Development,2,Medical,4,Male,3,4,Research Director,...,4,3,32,1,2,4,1,No,5,1
1,36,Travel_Rarely,Research & Development,2,Medical,2,Male,3,2,Manufacturing Director,...,4,4,7,0,3,2,0,No,3,6
2,21,Travel_Rarely,Sales,1,Marketing,2,Male,3,1,Sales Representative,...,3,2,1,3,3,0,1,Yes,1,7
3,52,Travel_Rarely,Research & Development,4,Life Sciences,2,Male,3,3,Healthcare Representative,...,3,4,18,4,3,6,4,No,8,7
4,33,Travel_Rarely,Research & Development,1,Medical,2,Male,3,3,Manager,...,3,4,15,2,4,6,7,Yes,7,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,3,Medical,3,Male,3,1,Laboratory Technician,...,3,3,8,2,1,4,0,Yes,5,14
396,31,Travel_Rarely,Sales,3,Life Sciences,2,Female,1,2,Sales Executive,...,3,3,4,2,3,2,2,Yes,2,20
397,37,Travel_Frequently,Research & Development,3,Other,2,Male,3,3,Research Director,...,3,3,10,1,3,8,0,No,10,11
398,38,Travel_Rarely,Research & Development,2,Medical,4,Female,3,1,Laboratory Technician,...,3,4,7,5,2,0,0,No,0,4
399,33,Travel_Rarely,Research & Development,3,Medical,4,Female,3,1,Research Scientist,...,3,4,8,5,3,7,1,No,8,14

9.    Todo parece indicar que las variables categóricas que quedan sí son importantes para obtener la variable de salida. Convierte todas las variables categóricas que quedan a numéricas:

  a.     BusinessTravel

  b.     Department

  c.     EducationField

  d.     Gender

  e.     JobRole

  f.      MaritalStatus

  g.     Attrition

In [30]:
# a. BusinessTravel
# Remplace los datos vacíos
EmpleadosAttrition['BusinessTravel'].fillna('Unknown', inplace=True)
# Inicializa el codificador ordinal
ordinal_encoder = OrdinalEncoder(categories=[['Unknown','Non-Travel', 'Travel_Rarely', 'Travel_Frequently']])
# Aplica el ordinal encoding a la columna 'BusinessTravel'
EmpleadosAttrition['BusinessTravel'] = ordinal_encoder.fit_transform(EmpleadosAttrition[['BusinessTravel']])

#b. Department
# Aplicar one-hot encoding a la columna 'Department'
df_encoded = pd.get_dummies(EmpleadosAttrition['Department'], prefix='Department')
# Concatenar el DataFrame original con las nuevas columnas codificadas
EmpleadosAttrition = pd.concat([EmpleadosAttrition, df_encoded], axis=1)

# c. EducationField
# Aplicar one-hot encoding a la columna 'EducationField'
df_encoded = pd.get_dummies(EmpleadosAttrition['EducationField'], prefix='EducationField')
# Concatenar el DataFrame original con las nuevas columnas codificadas
EmpleadosAttrition = pd.concat([EmpleadosAttrition, df_encoded], axis=1)

# d.     Gender
# Aplicar one-hot encoding a la columna 'Gender'
df_encoded = pd.get_dummies(EmpleadosAttrition['Gender'], prefix='Gender')
# Concatenar el DataFrame original con las nuevas columnas codificadas
EmpleadosAttrition = pd.concat([EmpleadosAttrition, df_encoded], axis=1)

# e.     JobRole
# Aplicar one-hot encoding a la columna 'JobRole'
df_encoded = pd.get_dummies(EmpleadosAttrition['JobRole'], prefix='JobRole')
# Concatenar el DataFrame original con las nuevas columnas codificadas
EmpleadosAttrition = pd.concat([EmpleadosAttrition, df_encoded], axis=1)

# f.      MaritalStatus
# Remplace los datos vacíos
EmpleadosAttrition['MaritalStatus'].fillna('Unknown', inplace=True)
# Aplicar one-hot encoding a la columna 'JobRole'
df_encoded = pd.get_dummies(EmpleadosAttrition['MaritalStatus'], prefix='MaritalStatus')
# Concatenar el DataFrame original con las nuevas columnas codificadas
EmpleadosAttrition = pd.concat([EmpleadosAttrition, df_encoded], axis=1)

# g.     Attrition
# Inicializa el codificador ordinal
ordinal_encoder = OrdinalEncoder(categories=[['No','Yes']])
# Aplica el ordinal encoding a la columna 'BusinessTravel'
EmpleadosAttrition['Attrition'] = ordinal_encoder.fit_transform(EmpleadosAttrition[['Attrition']])

EmpleadosAttrition

,Age,BusinessTravel,Department,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobRole,...,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,MaritalStatus_Unknown
0,50,2.0,Research & Development,2,Medical,4,Male,3,4,Research Director,...,0,0,1,0,0,0,1,0,0,0
1,36,2.0,Research & Development,2,Medical,2,Male,3,2,Manufacturing Director,...,0,1,0,0,0,0,1,0,0,0
2,21,2.0,Sales,1,Marketing,2,Male,3,1,Sales Representative,...,0,0,0,0,0,1,0,0,1,0
3,52,2.0,Research & Development,4,Life Sciences,2,Male,3,3,Healthcare Representative,...,0,0,0,0,0,0,0,0,1,0
4,33,2.0,Research & Development,1,Medical,2,Male,3,3,Manager,...,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,2.0,Research & Development,3,Medical,3,Male,3,1,Laboratory Technician,...,0,0,0,0,0,0,0,1,0,0
396,31,2.0,Sales,3,Life Sciences,2,Female,1,2,Sales Executive,...,0,0,0,0,1,0,0,1,0,0
397,37,3.0,Research & Development,3,Other,2,Male,3,3,Research Director,...,0,0,1,0,0,0,1,0,0,0
398,38,2.0,Research & Development,2,Medical,4,Female,3,1,Laboratory Technician,...,0,0,0,0,0,0,0,1,0,0
399,33,2.0,Research & Development,3,Medical,4,Female,3,1,Research Scientist,...,0,0,0,1,0,0,0,1,0,0

10.  Ahora debes hacer la evaluación de las variables para quedarte con las mejores. Calcula la correlación lineal de cada una de las variables con respecto al Attrition.

In [31]:
CorrelacionTotal = EmpleadosAttrition.corr()
CorrelacionTotal['Attrition']

<ipython-input-31-0f7c2ee3a8a4>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  CorrelacionTotal = EmpleadosAttrition.corr()

Age                                 -0.212459
BusinessTravel                       0.091185
Education                           -0.054478
EnvironmentSatisfaction             -0.125091
JobInvolvement                      -0.168047
JobLevel                            -0.214486
JobSatisfaction                     -0.163964
MonthlyIncome                       -0.195044
NumCompaniesWorked                  -0.008590
PercentSalaryHike                   -0.061714
PerformanceRating                   -0.007010
RelationshipSatisfaction            -0.032777
TotalWorkingYears                   -0.214043
TrainingTimesLastYear               -0.071592
WorkLifeBalance                     -0.023063
YearsInCurrentRole                  -0.204453
YearsSinceLastPromotion             -0.069835
Attrition                            1.000000
YearsAtCompany                      -0.176287
DistanceFromHome                     0.052944
Department_Human Resources           0.023226
Department_Research & Development   -0.074053
Department_Sales                     0.067985
EducationField_Human Resources       0.043267
EducationField_Life Sciences        -0.028511
EducationField_Marketing             0.020458
EducationField_Medical              -0.054974
EducationField_Other                -0.004525
EducationField_Technical Degree      0.128876
Gender_Female                        0.030200
Gender_Male                         -0.030200
JobRole_Healthcare Representative   -0.103686
JobRole_Human Resources              0.032564
JobRole_Laboratory Technician        0.124827
JobRole_Manager                     -0.090209
JobRole_Manufacturing Director      -0.042802
JobRole_Research Director           -0.116656
JobRole_Research Scientist           0.007467
JobRole_Sales Executive             -0.000991
JobRole_Sales Representative         0.191070
MaritalStatus_Divorced              -0.108565
MaritalStatus_Married               -0.093706
MaritalStatus_Single                 0.205308
MaritalStatus_Unknown                0.010486
Name: Attrition, dtype: float64

11.  Selecciona solo aquellas variables que tengan una correlación mayor o igual a 0.1, dejándolas en otro frame llamado EmpleadosAttritionFinal. No olvides mantener la variable de salida Attrition; esto es equivalente a borrar las que no cumplen con el límite.

In [32]:
# Seleccionar en un nuevo DataFrame, las variables con correlación mayor o igual a 0.1
EmpleadosAttritionFinal = EmpleadosAttrition[['Attrition','EnvironmentSatisfaction','JobInvolvement','JobLevel','JobSatisfaction','MonthlyIncome','TotalWorkingYears','YearsInCurrentRole','YearsAtCompany','EducationField_Technical Degree','JobRole_Healthcare Representative','JobRole_Laboratory Technician','JobRole_Research Director','JobRole_Sales Representative','MaritalStatus_Divorced','MaritalStatus_Single']]
EmpleadosAttritionFinal

,Attrition,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,TotalWorkingYears,YearsInCurrentRole,YearsAtCompany,EducationField_Technical Degree,JobRole_Healthcare Representative,JobRole_Laboratory Technician,JobRole_Research Director,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Single
0,0.0,4,3,4,4,0.864269,32,4,5,0,0,0,1,0,1,0
1,0.0,2,3,2,2,0.207340,7,2,3,0,0,0,0,0,1,0
2,1.0,2,3,1,2,0.088062,1,0,1,0,0,0,0,1,0,1
3,0.0,2,3,3,2,0.497574,18,6,8,0,1,0,0,0,0,1
4,1.0,2,3,3,3,0.664470,15,6,7,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,1.0,3,3,1,4,0.075248,8,4,5,0,0,1,0,0,0,0
396,1.0,2,1,2,3,0.187197,4,2,2,0,0,0,0,0,0,0
397,0.0,2,3,3,4,0.589327,10,8,10,0,0,0,1,0,1,0
398,0.0,4,3,1,3,0.121124,7,0,0,0,0,1,0,0,0,0
399,0.0,4,3,1,2,0.092122,8,7,8,0,0,0,0,0,0,0

12.  Crea una nueva variable llamada EmpleadosAttritionPCA formada por los componentes principales del frame EmpleadosAttritionFinal. Recuerda que el resultado del proceso PCA es un numpy array, por lo que, para hacer referencia a una columna, por ejemplo, la 0, puedes usar la instrucción EmpleadosAttritionPCA[:,0]).

In [33]:
pca = PCA()
pca.fit(EmpleadosAttritionFinal)
EmpleadosAttritionPCA = pca.components_
EmpleadosAttritionPCA

array([[-9.45495065e-03, -3.72579940e-03, -2.24567367e-03,
         9.12479140e-02,  2.26096957e-03,  2.04267202e-02,
         7.83858191e-01,  2.86170423e-01,  5.42711150e-01,
        -1.53054394e-04,  2.44632884e-03, -8.69418735e-03,
         1.10253581e-02, -6.47402505e-03,  1.34240669e-03,
        -5.80496262e-03],
       [ 2.15750840e-04, -4.65177130e-03, -1.91969134e-03,
         4.53720045e-02, -1.40474906e-02,  1.09481604e-02,
         6.10179273e-01, -4.35237309e-01, -6.60013244e-01,
        -5.54478276e-03,  5.61648399e-03, -6.46561147e-03,
         5.77708119e-03, -1.83474870e-03, -7.58495738e-03,
         5.71901485e-03],
       [ 1.83486977e-02,  2.41712324e-03,  1.30958855e-02,
         7.16116910e-03, -3.70009787e-02,  2.75867703e-03,
        -4.80738377e-02, -8.52330031e-01,  5.18553486e-01,
         1.71514360e-03, -4.14998198e-03,  9.82318563e-03,
        -1.03698160e-02,  3.60747538e-03,  1.12128296e-02,
         4.44836457e-03],
       [ 1.30903866e-02,  6.27555515e-01,  3.22480210e-02,
        -5.61730628e-02, -7.74251169e-01, -7.56752640e-03,
         5.86916255e-03,  3.10254460e-02, -6.92598663e-03,
        -1.98909615e-02, -1.09510148e-02,  1.70749569e-02,
         4.83966838e-03,  4.73807418e-03, -1.93647616e-02,
        -3.49861558e-03],
       [ 7.44247641e-02, -7.74021126e-01, -1.76097726e-03,
         2.38148211e-02, -6.26423540e-01,  7.49243809e-03,
        -9.92273563e-03,  2.43885081e-02, -4.21498148e-03,
         6.56336192e-03,  3.15318488e-03,  1.74150676e-03,
         2.09890948e-02,  1.98561105e-02, -2.39238473e-02,
         1.20490531e-02],
       [ 7.13845634e-02, -4.70887023e-02, -2.48014134e-01,
        -9.10630242e-01,  2.31972349e-02, -1.93642340e-01,
         9.92213363e-02,  6.25033005e-04,  2.22510460e-02,
         1.01955668e-02, -9.13456167e-03,  1.73957239e-01,
        -1.42765236e-01,  2.25458423e-02,  4.33177350e-02,
        -1.83696435e-02],
       [ 1.03303433e-01,  4.15296590e-02, -9.57965250e-01,
         2.36361706e-01, -2.45936846e-02,  5.55327035e-02,
        -2.80663284e-02, -7.64194616e-03,  4.04852415e-04,
         1.42961426e-02, -6.15408818e-03, -5.31170295e-02,
         2.66349253e-02,  2.76843471e-03,  1.12555816e-02,
         7.48128057e-02],
       [ 2.05593243e-01,  1.99874000e-02,  6.23320469e-02,
        -5.30393004e-02,  3.79641504e-02, -8.13127586e-03,
         6.14861374e-03,  5.05488662e-03,  1.11230161e-02,
         1.00815006e-02, -3.40392140e-02, -7.44465408e-02,
        -1.00361644e-02,  9.09953761e-02, -6.33235408e-01,
         7.29909885e-01],
       [ 4.29757604e-01,  1.73858155e-02,  5.37125991e-02,
         1.35474617e-01,  3.35856041e-02,  5.27672094e-02,
        -2.02944471e-03,  1.37362288e-02, -1.12839175e-02,
        -3.76475729e-02, -3.78980090e-01,  7.65027481e-01,
         1.50860661e-01, -1.07395588e-01,  1.37246967e-01,
         7.80733212e-02],
       [-1.57672807e-01, -9.43616347e-03, -7.64554295e-02,
         2.77998029e-02,  9.27397037e-03,  1.09228345e-02,
        -6.23987541e-03, -1.15290449e-02,  5.26724351e-03,
         3.98634741e-02, -5.12778216e-03,  2.60850356e-01,
         6.84953520e-03, -1.28019956e-01, -7.54217423e-01,
        -5.59543407e-01],
       [ 7.97687118e-01,  4.26286759e-02,  7.87772839e-02,
        -6.21846606e-03,  4.25841510e-02, -3.93891764e-03,
         6.17746896e-03,  9.16056116e-03, -3.91351671e-03,
         2.23139289e-01, -1.46727782e-02, -3.64425015e-01,
        -6.57394548e-02,  1.94122816e-01, -6.04511814e-02,
        -3.53829757e-01],
       [ 2.04247765e-01,  1.43178243e-02,  2.28837746e-02,
         1.12196716e-01, -1.85171605e-03, -4.29835928e-02,
        -6.57917989e-03,  7.89848287e-03, -2.43724818e-03,
         2.41866907e-02,  8.32827132e-01,  2.99240818e-01,
        -3.24162357e-01, -2.18019668e-01,  3.76874075e-02,
         7.23754450e-02],
       [-7.59700718e-03,  1.48218351e-02, -6.76197108e-03,
        -1.24248895e-01,  1.68323283e-02,  6.25246364e-02,
         1.44835046e-03, -7.99516364e-03,  5.82682815e-03,
         2.33092524e-01,  3.76691542e-01,  8.44347243e-02,
         8.49071322e-01,  2.35895556e-01,  4.06204638e-03,
         1.80791457e-03],
       [-2.19021605e-01,  6.87231563e-03, -3.58617390e-03,
         1.06325097e-01, -1.75790343e-02, -2.52211403e-02,
         1.37052653e-03,  3.76103936e-03, -7.13789755e-03,
         7.04280345e-01, -6.04313545e-02,  2.36329870e-01,
        -3.20877287e-01,  5.26525503e-01,  4.11616296e-02,
         4.74567281e-02],
       [-1.41923655e-02,  1.79098476e-04,  1.14220428e-02,
        -5.63250499e-02, -1.86105133e-02, -7.36918036e-03,
         1.22210836e-03, -3.93162960e-03, -1.49602441e-03,
         6.28673036e-01, -1.21233907e-01, -1.49019547e-01,
         9.32850978e-02, -7.38038753e-01,  3.70405480e-02,
         9.57399644e-02],
       [ 4.87248080e-03,  1.41271234e-03, -5.82805817e-03,
         1.90382767e-01, -1.83926283e-03, -9.74334638e-01,
         1.79483440e-03, -2.31119027e-03,  1.10042792e-03,
        -1.27399668e-02, -2.86486981e-02, -4.26941948e-03,
         1.15266197e-01,  3.55967730e-03, -6.26733299e-03,
        -3.74519962e-03]])

13.  Agrega el mínimo número de Componentes Principales en columnas del frame EmpleadosAttritionPCA que logren explicar el 80% de la varianza, al frame EmpleadosAttritionFinal. Puedes usar la instrucción assign, columna por columna, llamando a cada una C0, C1, etc., hasta las que vayas a agregar.

In [34]:
pca = PCA()
pca.fit(EmpleadosAttritionFinal)
print(pca.explained_variance_)

[8.37048741e+01 2.38066186e+01 4.07351416e+00 1.25232579e+00
 1.24675994e+00 5.78763916e-01 5.46307251e-01 2.63120571e-01
 1.30889482e-01 1.23336768e-01 1.08736616e-01 8.80807721e-02
 5.51798993e-02 5.01435078e-02 4.30565041e-02 4.99347476e-03]

In [35]:
EmpleadosAttritionPCA = pca.transform(EmpleadosAttritionFinal)
print(EmpleadosAttritionPCA)

[[ 14.4268796   13.91995852  -1.7270518  ...  -0.13566269   0.03866839
   -0.05266305]
 [ -7.03134874   0.78966308   0.20575017 ...  -0.01696311   0.08003985
    0.04977759]
 [-13.50902177  -0.71590436   1.16944778 ...   0.19204969  -0.55276516
   -0.02178107]
 ...
 [  0.95082437  -4.58407951  -1.49873395 ...  -0.29959499   0.04656832
   -0.02121471]
 [ -9.34005929   3.57162983   0.31379439 ...   0.08411171  -0.05496084
   -0.05229678]
 [ -2.20547814  -4.12476244  -1.52506399 ...  -0.16331304   0.07461545
   -0.02351021]]

In [36]:
# Lista de nombres de columna
EmpleadosAttritionFinal = EmpleadosAttritionFinal.assign(C0 = EmpleadosAttritionPCA[:, 0])
EmpleadosAttritionFinal = EmpleadosAttritionFinal.assign(C1 = EmpleadosAttritionPCA[:, 1])
EmpleadosAttritionFinal = EmpleadosAttritionFinal.assign(C2 = EmpleadosAttritionPCA[:, 2])
EmpleadosAttritionFinal = EmpleadosAttritionFinal.assign(C3 = EmpleadosAttritionPCA[:, 3])
EmpleadosAttritionFinal = EmpleadosAttritionFinal.assign(C4 = EmpleadosAttritionPCA[:, 4])

EmpleadosAttritionFinal

,Attrition,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,TotalWorkingYears,YearsInCurrentRole,YearsAtCompany,EducationField_Technical Degree,...,JobRole_Laboratory Technician,JobRole_Research Director,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Single,C0,C1,C2,C3,C4
0,0.0,4,3,4,4,0.864269,32,4,5,0,...,0,1,0,1,0,14.426880,13.919959,-1.727052,-0.193010,-2.027973
1,0.0,2,3,2,2,0.207340,7,2,3,0,...,0,0,0,1,0,-7.031349,0.789663,0.205750,0.017931,0.907097
2,1.0,2,3,1,2,0.088062,1,0,1,0,...,0,0,1,0,1,-13.509022,-0.715904,1.169448,0.025288,1.031831
3,0.0,2,3,3,2,0.497574,18,6,8,0,...,0,0,0,0,1,5.541804,2.528090,-1.142567,0.118510,0.939541
4,1.0,2,3,3,3,0.664470,15,6,7,0,...,0,0,0,0,0,2.647092,1.334225,-1.535390,-0.640146,0.407574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,1.0,3,3,1,4,0.075248,8,4,5,0,...,1,0,0,0,0,-4.702369,-0.868889,-0.572028,-0.742245,-1.014061
396,1.0,2,1,2,3,0.187197,4,2,2,0,...,0,0,0,0,0,-9.930091,-0.383489,-0.224694,-0.798890,0.416376
397,0.0,2,3,3,4,0.589327,10,8,10,0,...,0,1,0,1,0,0.950824,-4.584080,-1.498734,-1.429517,-0.211026
398,0.0,4,3,1,3,0.121124,7,0,0,0,...,1,0,0,0,0,-9.340059,3.571630,0.313794,0.550783,-1.302296
399,0.0,4,3,1,2,0.092122,8,7,8,0,...,0,0,0,0,0,-2.205478,-4.124762,-1.525064,1.475818,-0.550755

10.  Guarda el set de datos que has formado y que tienes en EmpleadosAttritionFinal en un archivo CSV llamado EmpleadosAttritionFinal.csv. Las últimas columnas que colocaste quedarán después de la variable Attrition, lo cual no importa, pero si gustas lo puedes arreglar antes de escribir el archivo.

In [37]:
EmpleadosAttritionFinal.to_csv("/content/drive/MyDrive/Colab Notebooks/RetoEmpleados/EmpleadosAttritionFinal.csv", index = False)